<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
         "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.co.pms.mapper.ProjectMapper">
    
    <select id="getCompanyList" resultType="kr.co.pms.model.Company">
    
    SELECT * FROM COMPANY
            
    </select>
    
    <insert id="addCompany" parameterType="kr.co.pms.model.Company">
        
        INSERT INTO COMPANY (CIDX, NAMEEN, NAMEOTHER)
        VALUES (#{cIdx}, #{nameEn}, #{nameOther})
        
    </insert>
    
    <select id='getDocSequence' resultType="int">
        SELECT DOCUMENT_SEQ.NEXTVAL from dual
    </select>
    
    <select id='getProSequence' resultType="int">
        SELECT PROJECT_SEQ.NEXTVAL from dual
    </select>
    
    <insert id="addProject" parameterType="kr.co.pms.model.Project">
        
        INSERT INTO PROJECT ( PID, NAME, STARTDATE, ENDDATE, ORDERER, MANAGER, STATUS, REQUIREMAN, REG_DATE, UP_DATE)
        VALUES ( #{pid}, #{name}, to_timestamp(#{startDate}), to_timestamp(#{endDate}), #{orderer}, #{manager}, #{status}, #{requireMan}, SYSDATE, SYSDATE)
        
    </insert>
    
    <insert id="addApproval" parameterType="kr.co.pms.model.Document">
        
        INSERT INTO APPROVAL ( DID, PID, DRAFTER, SUPERIOR, LIMITS, DESCRIPTION, REG_DATE, UP_DATE)
        VALUES (#{did}, #{pid}, #{drafter}, #{superior}, to_timestamp(#{limits}), #{description}, SYSDATE, SYSDATE)
        
    </insert>
    
    <insert id="addApprovalHistory" parameterType="kr.co.pms.model.Document">
        
        INSERT INTO APPROVAL_HISTORY ( DID, STATUS, REPLY, REG_DATE, UP_DATE)
        VALUES (#{did}, #{status}, #{reply}, SYSDATE, SYSDATE)
        
    </insert>
    
    <select id="getDocumentEmp" parameterType="int" resultType="kr.co.pms.model.Document">
        
        select d.*, m.name superiorName
		from (
		  select a.*, m.name drafterName
		  from (
		  	select * from APPROVAL where Drafter = #{ drafter }
		  ) a, Member m
		  where a.Drafter = m.uidx
		) d, Member m
		where d.superior = m.uidx
        
    </select>
    
    <select id="getDocumentExe" parameterType="int" resultType="kr.co.pms.model.Document">
        
        select d.*, m.name superiorName
		from (
		  select a.*, m.name drafterName
		  from (
		  	select * from APPROVAL where superior = #{ superior }
		  ) a, Member m
		  where a.Drafter = m.uidx
		) d, Member m
		where d.superior = m.uidx
        
    </select>
    
    <select id="getProjectList" parameterType="String" resultType="kr.co.pms.model.Project">
        
		with setOrderer as (
		  select p.*, c.NameOther as OrdererName
		  from Project p, Company c
		  where p.orderer = c.cidx
		  AND p.pid = #{ pid }
		)
		 select m.*, c.MeaningKor as Meaning
		 from (select o.*, m.name as ManagerName
		  from setOrderer o, Member m
		  where o.manager = m.uidx) m, codes c
		  where m.status = c.codename
        
    </select>
    
    <select id="getProject" parameterType="String" resultType="kr.co.pms.model.Project">
        
		with setOrderer as (
		  select p.*, c.NameOther as OrdererName
		  from Project p, Company c
		  where p.orderer = c.cidx
		  AND p.pid = #{ pid }
		)
		 select m.*, c.MeaningKor as Meaning
		 from (select o.*, m.name as ManagerName
		  from setOrderer o, Member m
		  where o.manager = m.uidx) m, codes c
		  where m.status = c.codename
        
    </select>
    
    <select id="getApprovalHistory" parameterType="String" resultType="kr.co.pms.model.ApprovalHistory">
        
		SELECT h.*, c.MEANINGKOR
		FROM (
			SELECT * 
			FROM(
			  SELECT * FROM APPROVAL_HISTORY
			  WHERE DID = #{ did }
			  ORDER BY UP_DATE DESC
			) 
			WHERE ROWNUM = 1) h, CODES c
		WHERE h.STATUS = c.CODENAME
        
    </select>
    
</mapper>