<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
         PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
         "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.co.pms.mapper.ProjectMapper">
    
    <select id="getCompanyList" resultType="kr.co.pms.model.Company">
    
    SELECT * FROM COMPANY
            
    </select>
    
    <insert id="addCompany" parameterType="kr.co.pms.model.Company">
        
        INSERT INTO COMPANY (CIDX, NAMEEN, NAMEOTHER)
        VALUES (#{cIdx}, #{nameEn}, #{nameOther})
        
    </insert>
    
    <select id='getDocSequence' resultType="int">
        SELECT DOCUMENT_SEQ.NEXTVAL from dual
    </select>
    
    <select id='getProSequence' resultType="int">
        SELECT PROJECT_SEQ.NEXTVAL from dual
    </select>
    
    <insert id="addProject" parameterType="kr.co.pms.model.Project">
        
        INSERT INTO PROJECT ( PID, NAME, START_DATE, END_DATE, ORDERER, MANAGER, STATUS, REQUIREMAN, REG_DATE, UP_DATE)
        VALUES ( #{pid}, #{name}, #{startDate}, #{endDate}, #{orderer}, #{manager}, #{status}, #{requireMan}, SYSDATE, SYSDATE)
        
    </insert>
    
    <insert id="addApproval" parameterType="kr.co.pms.model.Document">
        
        INSERT INTO APPROVAL ( DID, PID, DRAFTER, SUPERIOR, LIMITS, DESCRIPTION, REG_DATE, UP_DATE)
        VALUES (#{did}, #{pid}, #{drafter}, #{superior}, #{limits}, #{description}, SYSDATE, SYSDATE)
        
    </insert>
    
</mapper>